{% extends 'index.html' %}

{% block content %}
<main>
  <h2>CARTAS MAIN CONTENT</h2>

  <a href="/upload">ADICIONAR</a>

  {% for card in cartas %}

  {% if carta == card.id %}
  <a href="/cartas">
    {% else %}
    <a href="/cartas/{{card.id}}">
      {% endif %}
      <div class="card" style="background-color: aquamarine; border-radius: 10px; padding: 2%; width: 12%;">
        <center>
          <h3>{{card.name}}</h3>
          <img src="{{card.img}}" alt="" style="width: 80%;">
        </center>
        <h3>Custo: {{card.cost}}</h3>
        <h3>Ataque: {{card.atk}}</h3>
        <h3>Vida: {{card.hp}}</h3>
      </div>
    </a>

    {% if carta %}
    {% if carta == card.id %}
    <!-- posição absoluta, tela inteira, botão pra fechar -->
    <div style="background-color: aqua; margin-top: 2%; padding: 2%;">
      <img src="{{card.img}}" alt="">
      <p>{{card.lore}}</p>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}

</main>
{% endblock %}


{% block aside %}
<aside>
  <h3>links relacionados</h3>
  <ul>
    <li> <a href="#"> link1 </a> </li>
    <li> <a href="#"> link2 </a> </li>
    <li> <a href="#"> link3 </a> </li>
  </ul>
</aside>
{% endblock %}